
//colors
$corange:#EC7E30;
$cwhblack: #272727;
$ctext: #7A7A7A;
$cwhite:#fff;

//bacground colors
$bgwhblack:#272727;
$bgwhite:#fff;
$bgorange:#EC7E30;
$bglightwhite:#f3f3f3;
$bglightblack:#343434;

//Font Style

$DMsans: 'DM Sans', sans-serif;

