@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import 'variables';
@import 'base';
@import 'mixins';

//Header Style
header{
    border-bottom: 1px solid #f3f3f3;
    .header-top{
        background-color: $bgwhblack;

        .container{
            padding: 12px 0px 12px 0px;
            @include flexSbAc;
        }

        .contact-info{
            @include flexSbAc;
            gap: 20px;

            img{
                width:18px;
                height: 18px;
            }
            p{
                color: $cwhite;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.8em;
            }
        }

        .social-icon{
            @include flexSbAc;
            gap: 10px;

            .facebook{
                padding: 14px;
                background-color: $bglightblack;
                background-image: url(../images/fbicon.png);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: center center;
                border-radius: 100%;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: $corange;
                }
            }
            .Twetter{
                padding: 14px;
                background-color: $bglightblack;
                background-image: url(../images/twicon.png);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: center center;
                border-radius: 100%;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: $corange;
                }
            }
            .Youtube{
                padding: 14px;
                background-color: $bglightblack;
                background-image: url(../images/yoicon.png);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: center center;
                border-radius: 100%;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: $corange;
                }
            }
            .Linkedln{
                padding: 14px;
                background-color: $bglightblack;
                background-image: url(../images/lnicon.png);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: center center;
                border-radius: 100%;
                transition: all .3s ease-in-out;

                &:hover{
                    background-color: $corange;
                }
            }
        }
    }

    .header-bottom{
        background-color: $bgwhite;
        @include flexSbAc;
        height: 91px;

        img{
            width: 93.34px;
            height: 22.24px;

            &:hover{
                transform: scale(1.1);
                transition-duration: .3s;
                transition-property: transform;
            }
        }

        .nav-content{ 
            @include flexSbAc;
        }
        nav{
                
                ul{
                    gap: 50px;
                    list-style-type: none;
                    @include flexSbAc;
                }
            a{
                color: $ctext;
                text-decoration: none;
                transition: all .3s ease-in-out;
                font-weight: 500;

                &:hover{
                    text-decoration: none;
                    color: $corange;
                }
            }

            li:nth-child(2){
                color: $ctext;
                font-family: $DMsans;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 5px;

                img{
                    width: 13px;
                    height: 13px;
                }

                .dropdown-content{
                    display: none;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    margin-top: 268px;
                    margin-left: -34px;
                    min-width: 130px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    border-radius: 20px 0;
                    border: 1px solid $corange;
                  }
                  
                  .dropdown-content a {
                    color: $ctext;
                    padding: 12px 16px;
                    font-size: 13px;
                    text-decoration: none;
                    display: block;

                    &:hover{
                        color: $corange;
                    }
                  }
                  &:hover{
                    .dropdown-content{
                        display: inline-block;
                    }
                  }
            }
           
        }

        //This is for mobile view
        .menu-icon{
            display: none
        }

    }

    .button{
        @include flexSbAc;
        gap:20px;
    }

    .search{
        width: 40px;
        height: 40px;
        background-image: url(../images/searchicon.png);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center center;
        transition: all .3s ease-in-out;

        &:hover{
            width: 40px;
            height: 40px;
            background-image: url(../images/searchicon-hover.png);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: center center;
        }
        
    }
}

//Main Style
main{
    
    .intro-grid{
        padding-top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 80px 530px 2px;
        align-items: center;

        .intro-card-drive{

            h1{
                color: $cwhblack;
                font-family: $DMsans;
                font-size: 45px;
                font-weight: 700;
                line-height: 1.2em;
            }
        }

        .intro-card-instructor {
            padding-top: 30px;
            padding-left: 60px;

            p{
                margin: 0px 0 35px 0px;
            }

            .intro-card-instructor-button{
                display: flex;
                align-items: center;
                width: 61%;
                gap: 20px;

                .btn{
                    display: flex;
                    align-items: center;
                    width: 80%;
                    gap: 20px;
                }   

                }
                
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            
        }

        .intro-card-img1{
            grid-column: 1 / 4;
            align-items:flex-end;
            width: 286px;
            height: 237.31px;
            margin-top: 230px;
            margin-left: -56px;
            z-index: 1;

            img{
                width: 286px;
                height: 237.31px;
            }
        }
        .intro-card-img2{
            grid-column: 1 / 4;

            .border-radius{
                border-radius: 0 0 50px 0;
            }
            img{
                width: 1140px;
                height: 530px;
            }

        }
        .intro-card-img3{
            grid-column: 1 / 4;
            margin-bottom: 85px;
            margin-left: 1071px;
            img{
                width: 91px;
                height: 110.83px;
            }
        }
    }

// Features Style
.features{
    margin-top: -55px;
    padding-bottom: 50px;

    .container {
        display: flex;
        justify-content: center;
    }

    .features-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        

        img{
            width: 83.98px;
            height: 84.05px;
            align-items: center;
        }
        .card-content{
            .btn1{
                margin-top: 30px;
                width: 43%;
                border-bottom: 3px solid $corange;
                font-size: 14px;
                                  
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .card{
            background-color: $cwhite;
            box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 5%);
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
            margin: 0px 20px 0px 0px;
            padding: 40px 35px 40px 35px;

            .number p{
                color: $corange !important;
                font-family: $DMsans;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.4em;
            }
        }
 
        .card.c1 {
            border-radius: 30px 0 0 0;
        }
        .card.c3 {
            border-radius: 0px 0 30px 0;
        }
    }
}

// About Us
.about-us{

    padding: 60px 0 120px;

    .container {
        display: flex;
        justify-content: center;
    }

    .about-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 60px;

        .about-card-content{
            display: flex;
            flex-direction: column;
        }
        .about-card-img img{  
            width: 500px;
            height: 100%;
            border-radius: 40px 0;
            z-index: 0;
        }
        .experience{
            background-color: $cwhite;
            width: 188px;
            height: 148px;
            box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 6%);
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
            margin: -110px 30px -30px -30px;
            padding: 30px 30px 30px 30px;
            border-radius: 15px 0px 15px 0px;
            text-align: center;
            z-index: 1;

            .about-count{
                padding: 0;
            }

            h3{
                font-size: 15px;
                text-align: center;
                text-transform: none;
                font-weight: 400;
                line-height: 1.8em;
                letter-spacing: 0px;
            }
        }

        p{
            padding: 30px 0 30px 0;
        }

        .accordion {
            background-color: #eee;
            color: $cwhblack;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            font-family: $DMsans;
            font-size: 15px;
            font-weight: 600;
          }
          button.accordion {
                margin-bottom: 15px;
                border-radius: 10px 0;
            }
          
          .active{
            background-color: $cwhblack;
            color: $cwhite;
          }
          
          .accordion:after {
            content: '\2193';
            color: $cwhblack;
            font-weight: 600;
            float: right;
            margin-left: 5px; 
          }
          
          .active:after {
            content: "\27F5";
            color: $corange;
          }
          
          .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }

        .about-card-button{
                display: flex;
                align-items: center;
                width: 50%;
                gap: 20px;

                .btn{
                    display: flex;
                    align-items: center;
                    width: 80%;
                    gap: 20px;
                }   

                }
                
                img{
                    width: 20px;
                    height: 20px;
                }
    }

}

//Our Class
.our-classes{
    background-color: $bglightwhite;
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        display: flex;
        justify-content: center;
    }

    .our-classes-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2fr;
        row-gap: 70px;

        .card-button{
            padding-top: 30px;
            padding-left: 60px;

            p{
                margin: 0px 0 35px 0px;
            }
        }

        .intro-card-instructor-button{
            display: flex;
            align-items: center;
            width: 65%;
            gap: 20px;

            .btn{
                display: flex;
                align-items: center;
                width: 60%;
                gap: 20px;
            }   
            
                
            img{
                width: 20px;
                height: 20px;
            }

        }

        .card{
            padding: 30px 15px 40px 15px !important;
            img{
                width: 63px;
                height: 63px;
            }
        }

       .card-class{
            grid-column: 1 / 3;
       } 
       .card-button{
            grid-column: 3 / 5;
       }

       .card-content{


        .btn1{
            margin-top: 30px;
            width: 50%;
            border-bottom: 3px solid $corange;
            font-size: 14px;
                              
            img{
                width: 20px;
                height: 20px;
            }
        }
    }

    .card{
        background-color: $cwhite;
        box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 5%);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin: 0px 20px 0px 0px;
        padding: 40px 35px 40px 35px;

        .number p{
            color: $corange !important;
            font-family: $DMsans;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.4em;
        }
    }

    .card.c1 {
        border-radius: 30px 0 0 0;
    }
    .card.c3 {
        border-radius: 0px 0 30px 0;
    }

    }
}

//Our Process
.our-process{
    background-color: $bgwhblack;
    padding-top: 100px;
    padding-bottom: 100px;
    h3{
        text-align: center;
    }
    h2{
        color: $cwhite;
        text-align: center;
        padding-bottom: 80px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .our-process-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .card-content{
            .btn1{
                margin-top: 30px;
                width: 40%;
                border-bottom: 3px solid $corange;
                font-size: 14px; 
                
                img{
                    width: 20px;
                    height: 20px;
                }
            }

            img{
                width: 70px;
                height: 70px;
            }
        }
        
        a.btn1.btn-read-more.course-list {
            width: 35% !important;
        }
        a.btn1.btn-read-more.course-calendar {
            width: 39% !important;
        }
        .card{
            background-color: $cwhite;
            box-shadow: 7px 7px 20px 0px rgb(0 0 0 / 5%);
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
            padding: 30px 10px 50px 10px !important;

            .number p{
                color: $corange !important;
                font-family: $DMsans;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.4em;
            }
        }

        p{
            color: $cwhite;
        }

        h3{
            padding-top: 20px;
        }

        .card.c1{
            background-color: $bglightblack;
            border-radius: 30px 0 0 0;
            
            .number p{
                font-size: 50px !important;
                color: $ctext !important;
                padding: 0 20px;
            }
            h3{
                color: $cwhite !important;
            }
            .btn-read-more{
                color: $cwhite;

                &:hover{
                    color: $corange;
                }
            }
        }

        .card.c2{
            background-color: $bgorange;

            .number p{
                font-size: 50px !important;
                color: $ctext !important;
                padding: 0 20px;
            }
            h3{
                color: $cwhite !important;
            }
            
            .btn-read-more{
                color: $cwhite;
                border-bottom: 3px solid $cwhite;

                &:hover{
                    color: $cwhblack;
                    border-bottom: 3px solid $cwhblack;
                }
            }
        }

        .card.c3{
            background-color: $bglightblack;
            border-radius: 0px 0 30px 0;

            .number p{
                font-size: 50px !important;
                color: $ctext !important;
                padding: 0 20px;
            }
            h3{
                color: $cwhite !important;
            }
            
            .btn-read-more{
                color: $cwhite;

                &:hover{
                    color: $corange;
                }
            }
        }

    }
}

//WHY CHOOSE US
.why-choose-us{
    padding: 100px 0;
    background-color: $bglightwhite;

    .container {
        display: flex;
        justify-content: center;
    }

    .why-choose-us-flex{
        width: 90%;
        display: flex;
        align-content: space-between;
        gap: 80px;

        img{
            width: 480px;
            height: 100%;
            border-radius: 30px 0;
        }

        h2{
            text-align: justify;
            padding-bottom: 30px;
        }
        p{
            text-align: justify;
        }

        .hy-choose-us-card{
            display: flex;
            flex-direction: column;
            gap: 50px;
            

            .feature-card-grid{
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 25px;
                align-content: flex-end;
                justify-content: end;
                
                .why-choose-us-card1{
                    display: flex;
                    flex-direction: column;
                    background-color: $cwhite;
                    
                    text-align: center;
                    padding: 15px 0;

                    h3{
                        font-size: 50px;
                        color: $cwhblack;
                        font-weight: 600;
                        letter-spacing: 0;
                        
                    }

                    p{
                        color: $corange;
                        font-size: 13px;
                        padding: 0px !important;
                        margin: 0px !important;
                        text-transform: none;
                        font-weight: 400;
                        letter-spacing: 0;
                        line-height: 1.8em;
                        text-align: center;
                    }
                }
                
                .why-choose-us-card1.box1 {
                    border-radius: 30px 0 0 0;
                }
                .why-choose-us-card1.box4 {
                    border-radius: 0 0 30px 0;
                }
            }
        }
    }
}

//PRICING PACKAGES
.price-packages{
    background-color: $bgwhite;
    padding-top: 100px;
    padding-bottom: 100px;
    h3{
        text-align: center;
    }
    h2{
        color: $cwhblack;
        text-align: center;
        padding-bottom: 80px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .price-packages-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        h3{
            color: $cwhblack;
            font-family: $DMsans;
            font-size: 21px;
            font-weight: 600;
            line-height: 1.2em;
            text-transform: none;
            letter-spacing: 0px;
        }
        p{
            padding: 20px 20px;
        }
                
        .card{
            box-shadow: 5px 5px 30px 0px rgb(0 0 0 / 8%);
            text-align: center;
            padding: 50px 10px 50px 10px;
            
            sub.currency{
                font-family: $DMsans;
                font-size: 21px;
                font-weight: 600;
                line-height: 1.2em;
                vertical-align: baseline;
                color: $corange;
            }

            span{
                font-family: $DMsans;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.3em;
                color: $corange;
            }
            sub.period{
                font-family: $DMsans;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.8em;
                color: $ctext;
                vertical-align: top;
            }

            ul{
                text-decoration: none;
                list-style-type:none;
                padding: 10px 0 50px 0;
                li{
                    padding-top: 10px;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.8em;

                    &::before{
                        content: "\2713";
                        color: $corange;
                        padding-right: 10px;  
                        font-size: 20px;                      
                    }
                }
            }
        }

        .card.c1 {
            border-radius: 30px 0 0 0;
        }
        .card.c3 {
            border-radius: 0 0 30px 0;
        }
    }
}

// OUR TEAM 
.our-team{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $bglightwhite;
    h3{
        text-align: center;
    }
    h2{
        color: $cwhblack;
        text-align: center;
        padding-bottom: 50px;
    }
    
    .container{
        display: flex;
        justify-content: center;
    }
    .our-team-grid-img{ 
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        
        justify-content: space-evenly;
        align-items: center;

        img{
            width: 100%;
            height: 100%;
            box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 5%);
            &:hover{
                transform: scale(1.1);
                transition-duration: .3s;
                transition-property: transform;
            }
        }
        .card img{
            border-radius: 20px 0;
        }
        

    .team-describer{ 
            z-index: 1;
            position: relative;
            
            .social-icon{
                display: flex;;
                justify-content: center;
                background-color: $cwhite;
                margin: 0 15px;
                border-radius: 0 0 20px 0;
                padding-bottom: 20px;

                .facebook{
                    padding: 14px;
                    background-color: $corange;
                    background-image: url(../images/fbicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;

                    &:hover{
                        background-color: $bgwhblack;
                    }
                }
                .Twetter{
                    padding: 14px;
                    background-color: $corange;
                    background-image: url(../images/twicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;

                    &:hover{
                        background-color: $bgwhblack;
                    }
                }
                .Youtube{
                    padding: 14px;
                    background-color: $corange;
                    background-image: url(../images/yoicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;

                    &:hover{
                        background-color: $bgwhblack;
                    }
                }
                .Linkedln{
                    padding: 14px;
                    background-color: $corange;
                    background-image: url(../images/lnicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;

                    &:hover{
                        background-color: $bgwhblack;
                    }
                }
            }
            h4{
                color: $cwhblack;
                font-family: $DMsans;
                font-size: 21px;
                font-weight: 600;
                line-height: 1.2em;
                text-align: center;
                background-color: $cwhite;
                margin: 0 15px;
                margin-top: -90px;
                padding-top: 10px;
                border-radius: 20px 0 0 0;
            }

            p{
                padding-bottom: 10px;
                text-align: center;
                background-color: $cwhite;
                margin: 0 15px;
                
            }
        }
    }
}

// TESTIMONIALS
.testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $bgwhblack;

    .container{
        display: flex;
        justify-content: center;
    }

    .testimonial-grid1{
        width: 90%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        //gap: 25px;

        h2{
            color: $cwhite;
        }

        p{
            color: $cwhite;
            padding: 30px 0;
        }

        .intro-card-instructor-button{
            display: flex;
            align-items: center;
            width: 70%;
            gap: 20px;

            .btn{
                display: flex;
                align-items: center;
                width: 75%;
                gap: 20px;

                &:hover{
                    color: $cwhite;
                    background-color: $bglightblack;
                }
            }   
            
                
            img{
                width: 20px;
                height: 20px;
            }

        }
    }

    .slideshow-container{
        .mobileshow{
            display: none;
        }
    }


      .mySlides {
        display: none
      }
      img {
        vertical-align: middle;
      }

      .dot{
        text-align: center;
        display: none !important;
      }
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        padding-top: 70px;
      }

      .active,
      .dot:hover {
        background-color: #111111;
      }
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      @keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
          font-size: 11px
        }
      }
}

// BLOG & NEWS
.blog-news{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $bglightwhite;
    h3{
        text-align: center;
    }
    h2{
        color: $cwhblack;
        text-align: center;
        padding-bottom: 50px;
    }
    
    .container{
        display: flex;
        justify-content: center;
    }

    .blog-news-grid{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        
        

        .card{
            background-color: $bgwhite;
            box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 0%);
            border-radius: 20px 0;
            overflow: hidden;

            .thumbnails{
                width: 100%;
                height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 20px 0;
                padding: 0 !important;

                &:hover{
                    transform : rotate(3deg) scale(1.1);
                    transition-duration: .3s;
                    transition-property: transform;
                }
            }

            
            .blog-content{
                h4{
                    padding: 10px 30px 25px 30px;
                }
            }

            .public{
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 10px 30px 25px 30px;
                img{
                    width: 15px;
                    height: 15px;
                }

                p{
                color: $corange;
                }

                h4{
                    font-family: $DMsans;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.4em;
                }
                
            }
            a {
                text-decoration: none;
                color: $cwhblack;

                &:hover{
                    color: $corange;
                }
            }  
            
        
            .btn1{
                margin: 0 30px 30px 30px;
                width: 34%;
                border-bottom: 3px solid $corange;
                font-size: 14px;   
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

}

// OUR CONTACT
.our-contact{
    
    padding: 100px 0 300px 0;
    .container{
        display: flex;
        justify-content: center;
    }
    .our-contact-grid{

        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        align-items: center;

        .contact-card{
            background-color: $bgwhite;
            box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 7%);
            padding: 40px 40px 40px 40px;
            border-radius: 30px 0px 30px 0px;

            span{
                color: $corange;
            }
            .name-surname{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 25px;
                padding-top: 10px;
                padding-bottom: 20px;
                input#lname {
                    padding: 10px;
                    background-color: $bglightwhite;
                    border: none;
                    border-radius: 15px 0;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;

                    &:focus-visible{
                        outline: none;
                    }
                }
                input#fname {
                    padding: 10px;
                    background-color: $bglightwhite;
                    border: none;
                    border-radius: 15px 0;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;

                    &:focus-visible{
                        outline: none;
                    }
                }
            }

           .email{
                padding-top: 10px;
                padding-bottom: 20px;
                input#email {
                    padding: 10px;
                    width: 100%;
                    background-color: $bglightwhite;
                    border: none;
                    border-radius: 15px 0;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;

                    &:focus-visible{
                        outline: none;
                    }
                }
           }
            
           .message{
            padding-top: 10px;
            padding-bottom: 20px;
            textarea#message {
                    height: 144px;
                    padding: 10px;
                    width: 100%;
                    background-color: $bglightwhite;
                    border: none;
                    border-radius: 15px 0;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;
                    resize: vertical;

                    &:focus-visible{
                        outline: none;
                    }
            }
           }

           .send-button{
            display: flex;
            justify-content: center;
           }
        }

        //animation Contact form start
        .contact-card{
            position: relative;
            transform: translateY(300px);
            opacity: 0;
            transition: 1s all ease;
          }
          
          .contact-card.active{
            transform: translateY(0);
            opacity: 1;
          }
          .contact-card.active{
            transform: translateY(0);
            opacity: 1;
          }
        //animation end
        h5{
            color: $cwhblack !important;
            font-family: $DMsans;
            font-size: 21px;
            font-weight: 600;
            line-height: 1.2em;
            letter-spacing: 0px;
            padding-top: 20px;
            text-transform: none;
            margin-top: 8px;
            margin-bottom: 16px;
        }
        .contact-info{
            padding-left: 35px;
                .address{
                    display: flex;
                    gap: 10px;
                    color: $ctext;
                    padding: 10px 0;
                    font-family: $DMsans;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.8em;
                    text-decoration: none;
                }
    
                .contact a{
                    display: flex;
                    gap: 10px;
                    padding: 10px 0;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.8em;
                    text-decoration: none;
                }
            img{
                width: 25px;
                height: 25px;
            }
        }
        //animation Contact info start
        .contact-info{
            position: relative;
            transform: translateY(300px);
            opacity: 0;
            transition: 2s all ease;
          }
          
          .contact-info.active{
            transform: translateY(0);
            opacity: 1;
          } 
            //animation end

    }    
}

// Footer
.footer{
    background-color: $bgwhblack;
    //padding: 0 0 100px 0;

    .container{
        display: flex;
        justify-content: center;

        .footer-top{
            background-color: $bglightblack;
            width: 90%;
            margin-top: -205px;
            margin-bottom: 100px;
            img.f-photo {
                width: 193px;
                height: 160px;
                margin: -34px;
            }
            img.ds-photo {
                width: 79px;
                height: 97px;
                margin-bottom: -18px;
                margin-left: 971px;
            }
            h2, p{
                color: $cwhite;
                text-align: center;
            }

            h2 {
                margin-bottom: 30px;
                margin-top: -30px;
            }

            .subscribe{
                padding-top: 30px;
                display: flex;
                justify-content: center;

                .email {
                    padding-bottom: 30px;
                    padding-top: 20px;
                }

                .send-button {
                    text-align: center;
                }
                input#email {
                    padding: 10px;
                    width: 600px;
                    background-color: $bglightwhite;
                    border: none;
                    border-radius: 15px 0;
                    color: $ctext;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;

                    &:focus-visible{
                        outline: none;
                    }
                }
            }
        }

        //animation start
        .footer-top{
            position: relative;
            transform: translateY(300px);
            opacity: 0;
            transition: 2s all ease;
          }
          
          .footer-top.active{
            transform: translateY(0);
            opacity: 1;
          } 
        //animation end

    }

    .container{
        display: flex;
        justify-content: center; 
    }

    .footer-grid{
        width: 90%;
        display: grid;
        grid-template-columns:  3fr 2fr 0.8fr 0.8fr;
        grid-template-rows: 3fr 0.9fr;
        column-gap: 90px;

        img.footer-logo{
            width: 126px;
            height: 30px;
        }
        
        .footer-card{
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-bottom: 30px;

            p{
                color: $cwhite;
                font-family: $DMsans;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.8em;
            }
            
            .social-icon{
                display: flex;
                align-items: center;
                gap: 10px;

                .facebook{
                    padding: 14px;
                    background-color: $bglightblack;
                    background-image: url(../images/fbicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;
    
                    &:hover{
                        background-color: $corange;
                    }
                }
                .Twetter{
                    padding: 14px;
                    background-color: $bglightblack;
                    background-image: url(../images/twicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;
    
                    &:hover{
                        background-color: $corange;
                    }
                }
                .Youtube{
                    padding: 14px;
                    background-color: $bglightblack;
                    background-image: url(../images/yoicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;
    
                    &:hover{
                        background-color: $corange;
                    }
                }
                .Linkedln{
                    padding: 14px;
                    background-color: $bglightblack;
                    background-image: url(../images/lnicon.png);
                    background-repeat: no-repeat;
                    background-size: 15px;
                    background-position: center center;
                    border-radius: 100%;
                    transition: all .3s ease-in-out;
    
                    &:hover{
                        background-color: $corange;
                    }
                }
            }

            h4{
                color: $cwhite;
                font-family: $DMsans;
                font-size: 21px;
                font-weight: 600;
                line-height: 1.2em;
            }
            ul{
                list-style-type: none;
                text-decoration: none;
                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 15px;
                    color: $cwhite;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;
                    img{
                        width:20px;
                        height: 20px;
                    }
                    a{
                        text-decoration: none;
                        color: $cwhite;
                        font-family: $DMsans;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 1.8em;

                        &:hover{
                            color: $corange;
                        }
                    }
                }
            }
            
        }
        .footer-bottom{
            grid-column: 1 / 5;
            display: flex;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            border-top: 1px solid #FFFFFF24;
            
            p{
                color: $cwhite;
                font-family: $DMsans;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.8em;

                a{
                    text-decoration: none;
                    color: $cwhite;
                    font-family: $DMsans;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.8em;
                    padding: 0 0 0 15px;

                    &:hover{
                        color: $corange;
                    }
                }
            }
        }
    }

}

// ---------------------------------------------------

// Website for mobile view
@media screen and (max-width: 768px){
    // Logo and mobile menu
    header{
        .header-top{
            display: none;
        }
        .header-bottom{
            padding: 0 20px;
            height: 65px;
            nav{
                display: none;
            }
            a.btn.btn-read-more {
                display: none;
            }
            p.search {
                margin-left: 150px;
            }
            .menu-icon{
                display: block;
                // img{
                //     width: 25px;
                //     height: 25px;
                //     margin-top: 5px;
                // }
            }
        }
    }
    //Mobil menu
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .sidenav {
        display: none;
        height: 100%;
        width: 210px;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
      }
      
      .sidenav a {
        transition: all .3s ease-in-out;
        font-weight: 400;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        display: block;
      }
      
      .sidenav a:hover {
        color: #EC7E30;
      }
      
      .sidenav .closebtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 36px;
        margin-top: -63px;
      }
      
    //   Mobile Dropdown menu
    .mdropdown {
        float: left;
        overflow: hidden;
      }

      .mdropdown-content {
        display: none;
        position: absolute;
        background-color: $corange;
        min-width: 210px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      .dropbtn {
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 29px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      .show {
        display: block;
      }

    //Main Style
main{
    
    .intro-grid{
        padding-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 182px 171px 57px 1fr 0px;

        .intro-card-drive{
            h3{
                padding: 0 15px;
            }
            h1{
               font-size: 36px !important;
               padding: 0 15px;
            }
        }

        .intro-card-instructor {
            padding-top: 30px;
            padding: 0 15px;

            p{
                margin: 0px 0 35px 0px;
            }

            .intro-card-instructor-button{
                display: flex;
                align-items: center;
                width: 85%;
                gap: 20px;

                .btn{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }   
                a.btn1.btn-read-more {
                    width: 60%;
                }

                }
                
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        
        .intro-card-img1{
            grid-column: 1/1;
            margin-left: 0px;
            img{
                width: 125px;
                height: 103px;
            }
        }
        .intro-card-img2{
            grid-column: 1/1;
            padding: 0 20px;
            img{
                width: 338px;
                height: 370px;
            }

        }
        .intro-card-img3{
            grid-column: 1/1;
            margin-bottom: 85px;
            margin-left: 0 !important;
        }
        .intro-card-img3 img {
            width: 60px;
            height: 74px;
            margin-bottom: 85px;
            margin-left: 307px;
        }
            
    }
}

// Features Style
.features{
    padding-bottom: 20px;
    .features-grid{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
        align-items: center;

        .card{
            margin: 0 10px;
        }
        .card.c1 {
            border-radius: 30px 0 0 0;
        }
        .card.c3 {
            border-radius: 0px 0 30px 0;
        }
 
    }
}

// About Us
.about-us{
    padding: 0;
    padding-bottom: 100px;
    margin: 0 10px;
    .about-grid{
        grid-template-columns: 1fr !important;
        grid-template-rows: 2fr 1fr;
        gap: 0px;

        h2{
            font-size: 34px;
        }

        .about-card{
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3, h2, p{
                text-align: center;
            }
        }

        .about-card-button {
            display: flex;
            justify-content: center;
            width: 70%;
        }
        .about-card-content{
            grid-row-start: 2;
            grid-row-end: 3;

            .about-card-img{
                img{
                    width:318px;
                    height: 310px;
                }
            }
        }
        .experience {
            margin: -133px 30px -30px -13px;
        }
    }
}    

// OUR CLASSES
.our-classes{
    padding: 100px 10px 100px 10px;
    text-align: center;
.our-classes-grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;

    h2{
        font-size: 34px;
    }
    
    .card-class{
        grid-column: 1 / 1;
    } 

    .card-button{
    grid-column: 1 / 1;
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    }

    .card{
        margin: 0;
    }

    .card-content .btn1 {
        margin-top: 30px;
        width: 36%;
        border-bottom: 3px solid #EC7E30;
        font-size: 14px;
    }

    .intro-card-instructor-button {
        display: flex;
        justify-content: center;
        width: 70%;
        .btn{
            width: 80%;
        }
    }

}

}

//Our Process
.our-process{
    padding: 100px 10px;
        .our-process-grid{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            
        .c1 a.btn1.btn-read-more.course-list {
            width: 37% !important;
        }
        .c2 a.btn1.btn-read-more.course-calendar {
            width: 40% !important;
        }
        .c3 .btn-read-more {
            color: #fff;
            width: 41% !important;
        }
    }
    
    h2{
        font-size: 34px;
        padding-bottom: 40px;
    }
    
}

//WHY CHOOSE US
.why-choose-us{
    padding: 100px 10px;
    .why-choose-us-flex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 55px;

        .why-choose-us-img{
            grid-row-start: 2;
            grid-row-end: 3;
            img{
                width: 318px;
                height: 300px;
            }
        }

        .why-choose-us-content{
            text-align: center;

            h2{
                font-size: 34px;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }

        .hy-choose-us-card{
            grid-row-start: 1;
            grid-row-end: 2;

            .feature-card-grid{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;

                .why-choose-us-card1{
                    margin: 0 50px;
                }
            }
        }


    }
}

//PRICING PACKAGES
.price-packages{
   padding: 100px 10px;

   h2{
    font-size: 34px;
    padding: 0 10px 50px 10px;
   }

    .price-packages-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

// OUR TEAM
.our-team{
    padding: 100px 10px;
    h2{
        font-size: 34px;
        padding: 0 10px 50px 10px;
       }
    .our-team-grid-img{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

// TESTIMONIALS
.testimonials{
    padding: 100px 10px 50px 10px;
    text-align: center;

    h2{
        font-size: 34px;
       }

    .testimonial-grid1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        h2{
            font-size: 34px;
        }

        .testimonial-card {
            display: flex;
            flex-direction: column;
            align-items: center;

            .intro-card-instructor-button {
                display: flex;
                justify-content: center;
                width: 73%;
            }
        }
        
    }

    .slideshow-container{
        padding: 60px 10px;
        .mobileshow{
            display: block;
        }
        .desktopshow{
            display: none;
        }
    }
}

// BLOG & NEWS
.blog-news{
    padding: 100px 10px;
    h2{
        font-size: 34px;
    }
    .blog-news-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

// OUR CONTACT
.our-contact{
    padding: 100px 10px 300px 10px;
    .our-contact-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 30px;

        .contact-info{
            grid-row-start: 1;
            grid-row-end: 2;
            padding: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-size: 34px;
                padding-bottom: 20px;
            }
        }

        .contact-card{
            grid-row-start: 2;
            grid-row-end: 3;
            padding: 20px;

            .name-surname{
                column-gap: 10px;
                input#lname {
                    width: 125px;
                }
                input#fname {
                    width: 125px;
                }
            }
        }
    }
}

// Footer
    .footer{
        padding: 0 10px;

    .footer-top{   
            input#email {
                width: 238px !important;
            }

            h2 {
                padding: 0 10px;
                padding-top: 35px;
                margin-top: 0px !important;
                font-size: 34px;
            }
            p{
                padding: 0 10px;
            }

            img.f-photo {
                width: 117px !important;
                height: 97px !important;
                margin: -34px;
                margin-left: -26px !important;
            }

            img.ds-photo {
                width: 56px !important  ;
                height: 68px !important;
                margin-bottom: -15px !important;
                margin-left: 275px !important;
            }
        }
        
    .footer-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;


        .footer-card{
            gap: 10px;
        }
            .footer-bottom{
                grid-column: 1 / 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                padding: 15px 0;

                p{
                    text-align: center;
                    padding: 5px 0;
                }
            }
            
            .card1{
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0 20px 30px 20px;
            }
        }
    }

}

